
.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-primary{
    color:#7fff00;

}

/* nav style */

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
.dtn-parimary{
    background-color: chartreuse;
    font-weight: 700;
    color:rgb(0, 0, 0);
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
   list-style: none;


}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(64, 1, 49);
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.header{
    background-image: url(developer.png),url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}
.banner-content{
  max-width: 580px;  
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-weight: bold;
    font-size: 85px;

}
.banner-pic{
    width: 580px;
}
