
.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-primary{
    color:#0b69c7;

}

/* nav style */

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
    font-weight: 600;
}
.dtn-parimary{
    background-color: #0b69c7;
    font-weight: 700;
    color:rgb(255, 255, 255);
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
   list-style: none;


}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.header{
    background-image: url(developer.png),url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #e6f1fc;

}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 30px 0 200px;
}
.banner-content{
  max-width: 580px;  
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;

}
.banner-title{
    font-weight: bold;
    font-size: 85px;

}
.banner-pic{
    width: 580px;
}

/* about section */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.section-des{
font-size: 18px;
color:rgb(33, 33, 33);
}
.text-center{
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
    
    background-color: #e9f3fd;

}
main section{
    margin-top: 130px;
    margin-bottom: 100px;
}
.item-des{
    font-weight: 600;
    margin-top: 10px;
}
.about-items{
   display: flex;
    justify-content: space-around;
}
.skills-container{
   display: flex;
   gap:24px; 
}
.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px #c7d2de;
    border-radius: 5px;
}
/* resume section styles */
.resume-container{
    display: flex;
    gap:24px;
}
.experience-sub-title{
    color: rgba(0, 0, 0, 0.765);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-title{
    margin-bottom:0px;
    font-size: 30px;

}


.experience-des{

color: rgba(0, 0, 0, 0.719);
margin-top: 0px;
}

.resume hr{
    margin: 30px 5px;
}
.resume-column-title{
    font-size: 30px;
}

.resume-download-cv{
    margin-top: 50px;
}

/* footer styles */
footer{
   padding:230px 230px; 
   display: flex;
   gap:100px;
   background-color: #e9f0f7;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"],footer textarea{

    height: 64px;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding:10px 20px;
    margin-bottom: 24px;
    border: none;

}
